
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form class="form-group" method="post">

    <h1>KATEGORİ EKLEME SAYFASI</h1>
    <br />
    <form class="form-group" method="post">
        <input type="text" placeholder="Kategori Adı" name="CategoryName" class="form-control" />
        <br />
        <input type="text" placeholder="Kategori Açıklaması" name="CategoryDescription" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>


    </form>


</form>
