@using EntityLayer.Concrete
@model List<Manager>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Mail</th>
        @*<th>Yetki</th>*@
        <th>Durum</th>
        <th>Pasif Yap</th>
        <th>Aktif Yap</th>
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var item in Model)
    {
<tr>
    <th>@item.Id</th>
    <td>@item.Mail</td>
    @*<td>@item.Role</td>*@
    <td>@item.Status</td>
    <td><a href="/Authorizations/FalseStatusAdmin/@item.Id" class="btn btn-primary">Pasif Yap</a></td>
    <td><a href="/Authorizations/TrueStatusAdmin/@item.Id" class="btn btn-success">Aktif Yap </a></td>
    <td><a href="/Authorizations/DeleteAdmin/@item.Id" class="btn btn-danger">Sil</a></td>
    <td><a href="/Authorizations/ChangeRole/@item.Id" class="btn btn-warning">Güncelle</a></td>
</tr>
    }
</table>

<br />

<a href="/Authorizations/NewAdmin" class="btn btn-info">Yeni Admin Tanımla</a>
